fastapi
uvicorn[standard]
sqlalchemy
alembic
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
email-validator
pydantic[email]
pydantic_settings
jose
passlib.context
fastapi
fastapi.security
"pydantic[email]"
python-multipart
python-jose
bcrypt